:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: #eee;
    --color-on-background-hover: black;
    --color-primary: #00ff00;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
    --accent: #ff00ff;

    --color-extended: #aaa;
    --color-on-extended: #555;
    --color-legacy: #555;
    --color-on-legacy: #aaa;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #121215;
    --color-on-background: white;
    --color-background-hover: #201f24;
    --color-on-background-hover: white;
    --color-primary: #0c7800;
    --color-primary-disabled: #1d1f38;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
    
    --color-extended: #555;
    --color-on-extended: #aaa;
    --color-legacy: #aaa;
    --color-on-legacy: #555;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
main {
    background: linear-gradient(to bottom,
    color-mix(in srgb, var(--color-primary) 10%, transparent),
            transparent 50%
    ),
        var(--color-background);
    color: var(--color-on-background);
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(
            16em,
            1fr
        );
    column-gap: 2rem;
}

header {
    height: 4rem;
    background: var(--color-background);
    outline: solid 2px var(--color-primary);
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 1366px) {
    header {
        display: flex;
    }
}
header .logo {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-columns: minmax(16rem, 1fr)
                           minmax(16rem, 2fr)
                           minmax(16em, 1fr);
    column-gap: 2rem;
}
main > div {
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
